.bucketTable {
  margin: auto;
  right: 0;
}

.bucketTable .bucketTr {
  width: 700px;
  height:5vh;
  display: grid;
  grid-template-columns: 2fr 3fr 1.5fr 1fr 2fr 2fr;
  border: 1px solid black;
  line-height:250%;
}

.bucketTable .bucketTr>td:nth-child(odd) {
  background-color: rgba(255, 0, 0, 0.2);
}
.impact{
  font-family:'함초롬바탕';
}
.bucketCash {
  border: none;
  font-size: 1.5rem;
  background-color: rgb(#BEBEBE);
  color: black;
  transition: background-color 0.5s, color 0.5s;
  box-shadow: 5px 5px 5px black;
  border-radius: 50%;
  padding:7px 10px;
}

.bucketCash:hover {
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  transition: all 0.5s;
}

.warning {
  color: red;
}

.bucketPage{
  min-height:100vh;
}
.boldtext{
  font-weight:bold;
}
.bucketbutton{
  line-height:normal;
}