.bucketTable {
  margin: auto;
  right: 0;
}
.bucketTr {
  width: 700px;
  display: grid;
  grid-template-columns: 5fr 3fr 2fr 5fr 2fr;
}
.bucketTr > td:first-child {
  text-align: left;
}
.bucketTr > td:nth-child(3) {
  background-color: rgba(255, 0, 0, 0.5);
}
.bucketTr > td:nth-child(1) {
  background-color: rgba(255, 0, 0, 0.5);
}
.bucketTr > td:nth-child(5) {
  background-color: rgba(255, 0, 0, 0.5);
}
