.inforbox{
    position:relative;
}
.inforimg{
    height:1000px;
    margin:auto;
}

.on{
    height:500px;
    overflow:hidden;
}
.boxbutton{
    position:absolute;
    bottom:-1%;
    width:100%;
    height:50px;
    background:white;
}
.boxbutton::before{
    content:'';
    position:absolute;
    left:5%;
    top:-50px;
    width:90%;
    height:50px;
    background:linear-gradient(to bottom,rgba(255,255,255,0),#ffffff);
}
.toggle{
    padding-top:10px;
}
.boxbutton.toggle::before{
    display:none;
}
.boxbutton :hover{
    cursor:pointer;
}
.inforbutton
{
    background-color: red;
    color:white;
    width:300px;
    height:50px;
    font-size:25px;
}