.mainimagelarge {
  position: absolute;
  left: 15%;
  width: 300px;
  height: 300px;
  border: solid 1px black;
  margin-top: 20px;
}
.nav {
    position: absolute;
    display:flex;
    justify-content: space-evenly;
    width:500px;
    bottom:10%;
    left: 5%;
    height:100px;
  }
.wrap {
  border: solid 1px black;
  margin: 0 10px;
  width:100px;
  height: 100px;
}
.wrap:hover{
  cursor:pointer
}
table {
  position: relative;
  right:-60%;
  margin-top:40px;
}
td {
  padding-bottom: 30px;
}
.box {
  position:relative;
  left:3%;
  height: 550px;
  border: solid 1px black;
  width:90vw;
}

.buttons {
  position: absolute;
  display:flex;
  justify-content: space-evenly;
  width:70vw;
  left:10vw;
  bottom: 1%;
}
.buy{
  position:absolute;
  display:flex;
  width:300px;
  justify-content: space-between;
  right:10%;
  bottom:7%;
}
.buy>button{
  width:120px;
  height:50px;
  font-size:1.2rem;
}