.product {
    width:100px;
    height:100px;
    box-sizing: content-box;
}

.first {
    background-image: url('../../public/image/small1.jpg');

}

.mainPage {
    min-height: 100vh;
}

.productList {
    display: flex;
    justify-content: space-between;
    width:70%;
    margin:auto;
}

.second {
    background-image: url('../../public/image/rebar.jpg');

}

.third {
    background-image: url('../../public/image/copper.jpg');

}

.fourth {
    background-image: url('../../public/image/nickel2.jpg');
}
.infor{
    box-shadow: 10px 5px 5px rgba(0,0,0,0.3);
    width:50%;
    margin:auto;
}
a{
    color:black;
    text-decoration: none;
}
.buttonCss {
    height: 50px;
    margin: 0 50px;
    border: none;
    font-size: 1.2rem;
    border-radius: 25px;
}
.productList p{
    font-weight:bold
}