.navlink {
    margin: 10px 10px;
    background-color: azure;
    border: 2px solid black;
}

.navlink,
.navspan {
    font-size: 1.5rem;
}

.navlink:hover {
    color: yellowgreen;
    transition: all 0.5s;
}

.navall {
    margin: 10px 0;
}