.otherflex
{
    display:flex;
    width:90vw;
    justify-content: space-evenly;
}
.go{
    font-size:2rem;
    background-color: transparent;
}
a{
    text-decoration:none;
    color:black;
}
.otherbuttons{
    margin-top:30px;
    width:90vw;
    display:flex;
    justify-content: space-evenly;
}